{% extends 'base.html' %}

{% block content %}
<table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Musician_Name</th>
        <th scope="col">Email</th>
        <th scope="col">Instrument_Type</th>
        <th scope="col">Release_Date</th>
        <th scope="col">Rating</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for music in data %}
      <tr>
        <th scope="row">{{ music.id }}</th>
        <td>{{ music.musicians.Musician_Name }}</td>
        <td>{{ music.musicians.Email }}</td>
        <td>{{ music.musicians.Instrument_Type }}</td>
        <td>{{ music.release_date }}</td>
        <td>{{ music.Rating }}</td>
        <td>{{ music.musician.Action }}</td>
        <td>
            <a href="{% url 'edit_album' music.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete_album' music.id %}" class="btn btn-danger">Delete</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
